.headtitle{
  position: relative;
}

.headtitle p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 16em;/*サイズ2倍*/
  font-family :Quicksand, sans-serif;/*Google Font*/
}

.headtitle img {
  width: 100%;
}
